# pip install ocean-aquarius
# is for end users. That will install the packages
# listed in the install_requires list of setup.py.

# pip install -r requirements.txt
# is for Aquarius developers, so doing that should
# install all the Python packages listed
# in the install_requires list of setup.py
# and also the 'dev' list in the extras_require dict
# (i.e. the packages needed by Aquarius developers)

-e .[dev]
