adal==1.0.2
aiohttp==2.3.10
aniso8601==3.0.2
argh==0.26.2
asn1crypto==0.24.0
async-timeout==3.0.0
attrdict==2.0.0
attrs==18.1.0
azure==4.0.0
azure-applicationinsights==0.1.0
azure-batch==4.1.3
azure-common==1.1.14
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.4
azure-datalake-store==0.0.29
azure-eventgrid==1.1.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.0
azure-mgmt==4.0.0
azure-mgmt-advisor==1.0.1
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.50.0
azure-mgmt-batch==5.0.1
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-cdn==3.0.0
azure-mgmt-cognitiveservices==3.0.0
azure-mgmt-commerce==1.0.1
azure-mgmt-compute==4.0.1
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.0.0
azure-mgmt-containerregistry==2.1.0
azure-mgmt-containerservice==4.2.2
azure-mgmt-cosmosdb==0.4.1
azure-mgmt-datafactory==0.6.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==2.0.0
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==1.0.0
azure-mgmt-devspaces==0.1.0
azure-mgmt-devtestlabs==2.2.0
azure-mgmt-dns==2.0.0
azure-mgmt-eventgrid==1.0.0
azure-mgmt-eventhub==2.1.0
azure-mgmt-hanaonazure==0.1.1
azure-mgmt-iotcentral==0.1.0
azure-mgmt-iothub==0.5.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-logic==3.0.0
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-managementgroups==0.1.0
azure-mgmt-managementpartner==0.1.0
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-media==1.0.0rc2
azure-mgmt-monitor==0.5.2
azure-mgmt-msi==0.2.0
azure-mgmt-network==2.0.1
azure-mgmt-notificationhubs==2.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-policyinsights==0.1.0
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-rdbms==1.2.0
azure-mgmt-recoveryservices==0.3.0
azure-mgmt-recoveryservicesbackup==0.3.0
azure-mgmt-redis==5.0.0
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.2.1
azure-mgmt-resource==2.0.0
azure-mgmt-scheduler==2.0.0
azure-mgmt-search==2.0.0
azure-mgmt-servicebus==0.5.1
azure-mgmt-servicefabric==0.2.0
azure-mgmt-signalr==0.1.0
azure-mgmt-sql==0.9.1
azure-mgmt-storage==2.0.0
azure-mgmt-subscription==0.2.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.35.0
azure-nspkg==2.0.0
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.6
azure-storage-blob==1.3.1
azure-storage-common==1.3.0
azure-storage-file==1.3.1
azure-storage-nspkg==3.0.0
azure-storage-queue==1.3.0
base58==0.2.5
# BigchainDB==1.3.0
# bigchaindb-driver==0.5.1
bumpversion==0.5.3
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
codacy-coverage==1.3.11
coincurve==8.0.2
coloredlogs==10.0
coverage==4.5.1
# cryptoconditions==0.6.0.dev1
cryptography==2.3.1
cytoolz==0.9.0.1
eciespy==0.1.2
eth-abi==1.1.1
eth-account==0.3.0
eth-hash==0.1.4
eth-keyfile==0.5.1
eth-keys==0.2.0b3
eth-rlp==0.1.2
eth-typing==1.1.0
eth-utils==1.2.0
flake8==3.5.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
flask-swagger==0.2.13
flask-swagger-ui==3.6.0
futures==3.1.1
gunicorn==19.9.0
hexbytes==0.1.0
humanfriendly==4.16.1
idna==2.7
idna-ssl==1.1.0
isodate==0.6.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.5.1
keeper-contracts==0.1.1
logstats==0.2.1
lru-dict==1.1.6
MarkupSafe==1.0
mccabe==0.6.1
msrest==0.5.4
msrestazure==0.5.0
multidict==4.3.1
multipipes==0.1.0
oauthlib==2.1.0
squid-py==0.1.2
# oceandb-bigchaindb-driver==0.1.3
oceandb-elasticsearch-driver==0.0.1
oceandb-driver-interface==0.1.11
oceandb-mongodb-driver==0.1.3
parsimonious==0.8.0
pathtools==0.1.2
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.4
py-solc==3.1.0
pyasn1==0.2.3
pycodestyle==2.3.1
pycparser==2.18
pycryptodome==3.6.6
pycryptodomex==3.6.6
pyflakes==1.6.0
PyJWT==1.6.4
pymongo==3.7.1
PyNaCl==1.1.2
pyOpenSSL==18.0.0
pysha3==1.0.2
pytest==3.4.2
pytest-runner==2.11.1
python-dateutil==2.7.3
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rethinkdb==2.3.0.post6
rlp==1.0.2
semantic-version==2.6.0
singletonify==0.1.2.0
six==1.11.0
statsd==3.2.1
toolz==0.9.0
tqdm==4.25.0
twine==1.11.0
urllib3==1.23
virtualenv==16.0.0
watchdog==0.8.3
web3==4.5.0
websockets==5.0.1
Werkzeug==0.14.1
yarl==1.2.6
