##
## Copyright 2021 Ocean Protocol Foundation
## SPDX-License-Identifier: Apache-2.0
##
name: Aquarius tests

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Aquarius
        uses: actions/checkout@v2
      - name: Setup Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - uses: actions/checkout@v2
        name: Checkout Barge
        with:
          repository: "oceanprotocol/barge"
          path: 'barge'
      - name: Run Barge
        working-directory: ${{ github.workspace }}/barge
        run: |
          bash -x start_ocean.sh --no-aquarius --no-dashboard --with-rbac --with-thegraph 2>&1 > start_ocean.log &
          for i in $(seq 1 50); do
            sleep 5
            [ -f "$HOME/.ocean/ocean-contracts/artifacts/ready" ] && break
            done
          ls -la "$HOME/.ocean/ocean-contracts/artifacts/"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.14.2
      - name: Test with pytest
        run: |
            coverage run --source aquarius -m pytest
            coverage report
            coverage xml
      - name: Publish code coverage
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: d9a74ea9daf38479941f0f0b7502b0f67578d122cc660a9fca96bc06df5a1d99

  dockerbuild:
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ success() && github.event_name == 'pull_request'}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: docker build -t "testimage:latest" .
